$font-family: 'Arial', sans-serif;


$color-red: #c4132f;
$color-black: #000;
$color-white: #fff;
$color-dark-grey: #717171;
$color-grey: #bbbbbb;
$color-light-grey: #e5eaee;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
