.article-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, .5);
  overflow-y: scroll;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.article-container {
  background-color: $color-white;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.article-container__logo {
  position: sticky;
  top: 0;
  left: 100%;
  background-color: $color-red;
  line-height: 0;
  padding-right: 46px;
  padding-left: 136px;
  height: 80px;
  display: flex;
  align-items: center;
  max-width: 450px;
  transform: translateX(100px);
  z-index: 1;
  img {
    width: 100%;
  }
}
.article-container__buttons {
  position: sticky;
  top: 80px;
  left: 100%;
  margin: 0;
  height: 0;
  width: 100px;
  transform: translateX(100px);
}
.article-buttons {
  list-style: none;
  padding: 0;
  line-height: 0;
}

.article-button {
  width: 100px;
  height: 100px;
  border: none;
  background-color: $color-black;
  padding: 8px;
  cursor: pointer;
  .inline-svg-icon {
    fill: $color-white;
  }
  &:hover {
    background-color: $color-white;
    .inline-svg-icon {
      fill: $color-black;
    }
  }
}

.article {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  margin-top: 30px;
}

.article__header {
  max-width: 500px;
  border-bottom: 1px solid $color-grey;
  padding-bottom: 18px;
}

.article__date {
  font-size: 15px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-dark-grey;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 40px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/icons/calendar.svg);
    width: 29px;
    height: 29px;
  }
}

.article__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 0;
  line-height: 1.2;
}

.article__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 0;
}

.article__content {
  margin-top: 50px;
}

.article__slider {
  margin: 20px 0;
}

.slider {
  width: calc(100% + 400px);
  transform: translateX(-200px);
  line-height: 0;
  position: relative;
  img {
    width: 100%;
  }
}

.slider__button-prev {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 120px;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-top: 6px solid $color-black;
    border-right: 6px solid $color-black;
    transform: rotate(225deg);
  }
  &[disabled]::before {
    border-color: $color-grey;
  }
}

.slider__button-next {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 120px;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-top: 6px solid $color-black;
    border-right: 6px solid $color-black;
    transform: rotate(45deg);
  }
  &[disabled]::before {
    border-color: $color-grey;
  }
}

.slider__slide {
  opacity: .5;
  transition: opacity 200ms linear;
}
.slider__slide_active {
  opacity: 1;
}


@media screen and (max-width: 1200px) {
  .article {
    padding-left: 100px;
    padding-right: 100px;
  }
  .slider {
    width: calc(100% + 200px);
    transform: translateX(-100px);
  }
  .slider__button-prev {
    left: 30px;
  }
  .slider__button-next {
    right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .article-wrapper {
    padding-right: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
  }
  .article {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }
  .slider {
    width: calc(100% + 120px);
    transform: translateX(-60px);
  }
  .article__header {
    padding-bottom: 12px;
  }
  .article__title {
    font-size: 40px;
  }
  .article__content {
    margin-top: 40px;
  }
  .article-container__logo {
    height: 60px;
    padding: 4px 16px 4px 70px;
    max-width: 350px;
    transform: translateX(60px);
  }
  .article-container__buttons {
    top: 60px;
  }
  .article-button {
    width: 60px;
    height: 60px;
    .inline-svg-icon {
      width: 30px;
      height: 30px;
    }
  }
}
@media screen and (max-width: 640px) {
  .article-wrapper {
    padding-left: 0;
  }
  .article {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .slider {
    width: calc(100% + 40px);
    transform: translateX(-20px);
  }
  .slider__button-prev {
    left: 10px;
  }
  .slider__button-next {
    right: 10px;
  }
}

@media screen and (max-width: 460px) {
  .article-container__logo {
    padding: 4px 16px;
    max-width: 250px;
  }
}
