.team {
  background-color: $color-black;
  color: $color-white;
  clip-path: polygon(0 160px, 100% 0, 100% 100%, 0% 100%);
  padding-top: 220px;
  //margin-top: 100px;
}
.team__header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 4px;
  padding-left: 46px;
  padding-right: 46px;
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 390px;
    background-color: $color-grey;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.team__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.team__subtitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}
.team__filter {
  display: flex;
  justify-content: center;
  margin-top: 86px;
}
.team__button-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 55px;
}
.team__list {
  margin-top: 30px;
}

.members-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.members-list__item {
  width: 280px;
  height: 280px;
  flex-shrink: 0;
}

.member {
  position: relative;
  &:hover {
    .member__photo {
      z-index: 4;
    }
    .member__info {
      left: 100%;
      z-index: 3;
    }
    .member__name {
      opacity: 1;
    }
    .member__duties {
      opacity: 1;
    }
    img {
      filter: none;
    }
  }
}
.member:nth-child(5n):hover {
  .member__info {
    left: -100%;
  }
}
.member__photo {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  z-index: 2;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
  }
}
.member__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color-black;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $color-light-grey;
  z-index: 1;
  padding: 26px 30px;
  transition: left 200ms linear;
}
.member__name {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0;
  opacity: 0;
  transition: opacity 200ms linear 200ms;
}
.member__duties {
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 8px;
  opacity: 0;
  transition: opacity 200ms linear 200ms;
}

.filter__button {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 30px;
  border: 2px solid $color-white;
  font-family: $font-family;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-white;
  cursor: pointer;
  &_loading {
    color: transparent;
    cursor: default;
    position: relative;
    &::before {
      content: "";
      width: 28px;
      height: 28px;
      border-top: 2px solid transparent;
      border-right: 2px solid $color-white;
      border-bottom: 2px solid $color-white;
      border-left: 2px solid $color-white;
      border-radius: 50%;
      position: absolute;
      left: calc(50% - 14px);
      top: calc(50% - 14px);
      animation: rotate 600ms infinite linear;
    }
  }
}

.filter-button {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: $color-grey;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 8px;
  cursor: pointer;
  transition: color 200ms linear;
  &:hover {
    color: $color-white;
  }
  &_active {
    cursor: default;
    color: white;
    border-bottom-color: $color-white;
  }
}
